<mat-spinner
  *ngIf="isLoading$ | async; else feedRef"
  diameter="60"
></mat-spinner>
<ng-template #feedRef>
  <ng-container *ngIf="(feed$ | async)?.length; else emptyRef">
    <cdk-virtual-scroll-viewport itemSize="170">
      <mat-selection-list [multiple]="false">
        <mat-list-option
          *cdkVirtualFor="let article of feed$ | async; trackBy: trackItem"
        >
          <mc-feed-item [article]="article"></mc-feed-item>
        </mat-list-option>
      </mat-selection-list>
    </cdk-virtual-scroll-viewport>
  </ng-container>
  <ng-template #emptyRef>
    <h3 class="empty-placeholder">No articles are here... yet.</h3>
  </ng-template>
</ng-template>
