<mat-card class="card">
  <mat-card-header class="card-header">
    <mat-card-title>{{ 'AUTH.REGISTER.TITLE' | translate }}</mat-card-title>
    <mat-card-subtitle>
      <a [routerLink]="[link]">{{ 'AUTH.REGISTER.SUBTITLE' | translate }}</a>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form class="card-form" [formGroup]="form">
      <mat-form-field>
        <mat-label>{{ 'AUTH.REGISTER.FORM.USERNAME' | translate }}</mat-label>
        <input matInput placeholder="{{ 'AUTH.REGISTER.FORM.USERNAME' | translate }}" formControlName="username" />
        <mat-error *ngIf="form.get('username').invalid">
          {{ validationService.getErrorMessage(form.get('username')) }}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{ 'AUTH.REGISTER.FORM.EMAIL' | translate }}</mat-label>
        <input
          matInput
          type="email"
          placeholder="{{ 'AUTH.REGISTER.FORM.EMAIL' | translate }}"
          formControlName="email"
        />
        <mat-error *ngIf="form.get('email').invalid">
          {{ validationService.getErrorMessage(form.get('email')) }}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{ 'AUTH.REGISTER.FORM.PASSWORD' | translate }}</mat-label>
        <input
          matInput
          type="password"
          placeholder="{{ 'AUTH.REGISTER.FORM.PASSWORD' | translate }}"
          formControlName="password"
        />
        <mat-error *ngIf="form.get('password').invalid">
          {{ validationService.getErrorMessage(form.get('password')) }}
        </mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="onSubmit()">
      {{ 'AUTH.REGISTER.BUTTON' | translate }}
    </button>
  </mat-card-actions>
</mat-card>

<pre>{{ user$ | async | json }}</pre>
