<ng-container *ngIf="article">
  <div class="feed-item-container">
    <div class="feed-item-block">
      <div class="feed-item-block-2">
        <img
          class="author-image"
          loading="lazy"
          [src]="article.author.image || imageFallback"
          [alt]="article.author.username"
          (click)="onNavigateToProfile(article.author.username)"
        />
        <div class="feed-item-info">
          <strong (click)="onNavigateToProfile(article.author.username)">{{
            article.author.username
          }}</strong>
          <div>{{ article.createdAt | date }}</div>
        </div>
      </div>
      <mc-favorite-button
        [favorited]="article.favorited"
        [favoritesCount]="article.favoritesCount"
        (clickFavorite)="onFavorite(article)"
      ></mc-favorite-button>
    </div>
    <h1>{{ article.title }}</h1>
    <p>{{ article.description }}</p>
    <div class="feed-item-block-3">
      <small (click)="onReadMore(article.slug)">
        {{ 'FEED_ITEM.READ_MORE' | translate }}
      </small>
      <mat-chip-list>
        <mat-chip *ngFor="let tag of article.tagList; trackBy: trackTag">
          {{ tag }}
        </mat-chip>
      </mat-chip-list>
    </div>
  </div>
  <mat-divider></mat-divider>
</ng-container>
